<nav class="navbar navbar-expand-lg shadow-sm p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <!-- ด้านซ้ายสุด -->
    <a class="navbar-brand" href="#">
      <i class="fa-duotone fa-books" style="--fa-primary-color: #36594f; --fa-secondary-color: #4c9493;"></i>
      LIBRARY FOR ALL
    </a>
    <!-- ปุ่ม toggle สำหรับหน้าจอขนาดเล็ก -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- เมนูด้านขวา -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- Dropdown เมนู Service -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-duotone fa-solid fa-layer-group" style="--fa-primary-color: #4c9493; --fa-secondary-color: #184337;"></i>&nbsp; SERVICE
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"><i class="fa-duotone fa-arrow-right-arrow-left" style="--fa-primary-color: #287646; --fa-secondary-color: #27633e;"></i> ยืมระหว่างห้องสมุด</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-duotone fa-cart-shopping" style="--fa-primary-color: #226727; --fa-secondary-color: #226727;"></i> เสนอซื้อทรัพยากร</a></li>
          </ul>
        </li>
        <!-- Profile -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-duotone fa-user" style="--fa-primary-color: #36594f; --fa-secondary-color: #4c9493; font-size: 16px;"></i>&nbsp; PROFILE  </a>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-duotone fa-arrow-right-from-bracket" style="--fa-primary-color: #296b57; --fa-secondary-color: #184337; font-size: 16px;"></i>&nbsp; LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


